<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>David Weber Photography</title>
<!--links--->
    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../static/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/cover.css" rel="stylesheet">


    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../static/js/ie-emulation-modes-warning.js"></script>

  </head>




  <body class="table">
      
            <!-- top bar -->
              <h2 class="brand">David Weber Photography</h2>
              
            <!-- nav buttons -->
            <div class="navblock">
                <ul class="nav masthead-nav">
                    
                  <li><a href="../#">Home</a></li>
                  
                  <li class="active"><a href="../gallery">Gallery</a></li>
                  
                  <li><a href="../about">About Me</a></li>
                  
                  <li><a href="../contact">Contact</a></li>
                  
                </ul>
            </div>
              
            <!-- View Portfolio -->
            <div class="welcome">
                
                <h2 class="brand2">  Get your prints here. </h2>
                
                
            </div>
            
            <div class="print-box">
                
                
                
                <div class="purchase-box">
                   
                   <div class="print-box-title"> A Friendly Haggle Between Two Merchants </div>
                   
                   <div class="print-box-desc"> After a long trek through the Atlas Mountains, I wanted nothing more than to take a nap at my Marrakesh hostel. Fortunately the exciting allure of Jemaa El-Fna square quickly dismissed my fatigue. The aroma of countless orange juice shops, the melodic wailing of cobra charmers, and the vibrant dancers within any line of sight combine to give you this wonderfully euphoric feeling that you're on a different planet. It is here I caught a water merchant playfully buying tissues from a Berber woman.
                   </div>
                   

                
                    <br> <br>
                    <div class="print-box-title"> Sizes </div>
                    
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                        <input type="hidden" name="cmd" value="_s-xclick">
                            <input type="hidden" name="hosted_button_id" value="7DRD4VD3MPNN6">
                                <table>
                                    <tr><td><input type="hidden" name="on0" value="Sizes"></td></tr><tr><td><select name="os0">
                                        <option value="11 x 16 (in a 16x20 matte)">11 x 16 (in a 16x20 matte) $45.00 USD</option>
                                        <option value="11 x 16 (in a 16x20 black frame, matted)">11 x 16 (in a 16x20 black frame, matted) $80.00 USD</option>
                                        <option value="8 x 12 (in a 11x14 matte)">8 x 12 (in a 11x14 matte) $30.00 USD</option>
                                        <option value="8 x 12 (in a 11x14 black frame, matted)">8 x 12 (in a 11x14 black frame, matted) $65.00 USD</option>
                                        <option value="20 x 30 (canvas)">20 x 30 (canvas) $130.00 USD</option>
                                    </select> </td></tr>
                                </table>
                                <input type="hidden" name="currency_code" value="USD">
                                    <input type="image" src="../static/css/paypal.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                                        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                    </form>
                    

                    
                    
        
                    
                    <div class="print-box-footer">
                        
                    <br> <br> <br> <br>
                    All prints come in a high quality matboard that conforms to standard frame sizes.
                    In addition, they are in a removable, protective sleeve. </div>
                </div>
                
                <div class="med-photo">
                    <img src="../static/css/medium-images/marrakesh.jpg" alt=""/>
                    
                </div>
                
                
            </div>

          <!-- footer -->
          <div class="mastfoot">
            <div class="inner">
              <p>All content and rights belongs to David Weber. </p>
            </div>
          </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../static/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../static/js/ie10-viewport-bug-workaround.js"></script>
  </body>
  
</html>
