<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>David Weber Photography</title>
<!--links--->
    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../static/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/cover.css" rel="stylesheet">


    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../static/js/ie-emulation-modes-warning.js"></script>


  </head>




  <body class="table">
      
            <!-- top bar -->
              <h2 class="brand">David Weber Photography</h2>
              
            <!-- nav buttons -->
            <div class="navblock">
                <ul class="nav masthead-nav">
                    
                  <li><a href="../#">Home</a></li>
                  
                  <li><a href="../gallery">Gallery</a></li>
                  
                  <li class="active"><a href="../about">About Me</a></li>
                  
                  <li><a href="../contact">Contact</a></li>
                  
                </ul>
            </div>
              
            <!-- View Portfolio -->
            <div class="welcome">
                
                <h2 class="brand2">  About me. </h2>
                
                
            </div>
            
            <div class="about-box">
                <div class="about-text">
                    I am a current student at University of California, Riverside, majoring in both Mathematics and Computer Science. <br>
                    During breaks from school, I travel as much as I can-- and I consider this an honor and a privilege.
                    <br> <br>
                    After my first trip to Jordan in 2013, I immediately bought a Canon DSLR. Photographing the places I go has been a passion of mine ever since. With my photos I try to form a comprehensive image of a destination in such a way that it represents, through my eyes, the culture and beauty of a particular place.
                    <br> <br>
                    I believe travel photography provides an invaluable lens into the diversity of our world. It reveals unique moments that capture and intrigue viewers. The aim of my photography, and I believe of <em>all</em> travel photography, is to inspire in others the desire to see the world around them, the unique faces that give vibrancy to their culture, and the moments of pure bliss that lodge themselves deep in human memory.
                </div>
                
                <div class="about-photo">
                    <img src="../static/css/profile.jpg">
                </div>
            </div>
                
                
            
            
        
                    
            </div>

          <!-- footer -->
          <div class="mastfoot">
            <div class="inner">
              <p>All content and rights belongs to David Weber. </p>
            </div>
          </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../static/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../static/js/ie10-viewport-bug-workaround.js"></script>
  </body>
  
</html>
